$button_color: #699900;
$header-background-img: url(../img/m-h-day.jpg);
$main-link-color:white;
$main-body-color:#21232E;
$section-text-color:#C0C3CE;
$text-fill:#14A0C7;
$header-text-color:#2C2F3C;
$logo-font:'Hind', sans-serif;
$linear-from:#65950D;
$linear-to:#2E5CD5;
$main-font:'Source Sans Pro', sans-serif;
$background-color:white;
$fill-color:#14A0C7;
$fontWeight: (
  "bold": 700,
  "regular": 400,
  "prebold": 600
);